.logo{

display: flex;
align-items: center;
width:70px;
height: 70px;
justify-content: center;

background-color: #1a1d20;

}




.logo::after{

content:'Architect';
position: absolute;
font-size: 22px;
color: white;
font-weight: bold;
left: 76px;

}



.main{
min-width: 1900px;
width: 100%;
display: flex;
font-family: sans-serif;
flex-direction: column;
align-items: center;
min-height: 480px;

}



.main-overlay{

display: flex;
background-image: url(../img/header.png);
height: 489px;
background-attachment: fixed;
min-width: 1900px;
background-size: cover;
background-repeat: no-repeat;
width: 100%;


}



.header{

min-width: 1900px;
width: 100%;
display: flex;
justify-content: space-between;
z-index: 2;
align-items: center;
height: 70px;
background-color: #1d2124;
flex-direction: row;

}



.menu{

display: flex;
width: 75%;
justify-content: space-evenly;
}


.menu li{

display: flex;
list-style: none;
margin: 16px;

}


.menu-link{

color: white;
font-weight: bold;

}



.center{

display: flex;
flex-direction: column;
align-items: center;
width: 100%;
justify-content: center;
min-width: 1900px;
}



.text{

color:white;

text-align: center;
font-size: 27px;
margin-bottom: 22px;
}



.button{

display: flex;

color:white;
height: 55px;
flex-direction: row;
justify-content:center;
margin-top: 22px;
}



.button1{

display: flex;
width: 170px;
height: 55px;
background-color: #89ca62;

color:white;
border-radius: 5px;
line-height: 55px;
font-size: 18px;
justify-content: center;
margin-right: 10px;

}



.button2{

display: flex;
width: 170px;
height: 55px;
background-color:#14b9d5;

color:white;
border-radius: 5px;
line-height: 55px;
font-size: 18px;
justify-content: center;
margin-left: 10px;

}

.text1{

display: flex;
font-size: 27px;
color: rgba(24, 180, 207, 255);

flex-direction: column;
font-family: sans-serif;
text-align: center;

}

.main2 {

display: flex;
flex-direction: column;
align-items: center;
background-color: #f2f2f2;
min-width: 1900px;
height: 1030px;
width: 100%;
}

.post1{

background-image: url(../img/post1.png);
width: 370px;
height: 260px;


}

.post2{

background-image: url(../img/post2.png);
width: 370px;
height: 380px;



}

.post3{

background-image: url(../img/post3.png);
width: 370px;
height: 290px;



}

.post4{

background-image: url(../img/post4.png);
width: 370px;
height: 260px;



}

.post5{

background-image: url(../img/post5.png);
width: 370px;
height: 247px;



}

.post6{
background-image: url(../img/post6.png);
width: 370px;
height: 380px;

}

.column1{
display: flex;
flex-direction: column;
height: 700px;
margin-left: 30px;
}

.column2{
display: flex;
flex-direction: column;
height: 950px;
margin-left: 30px;
}

.column3{

display: flex;
flex-direction: column;
height: 825px;
margin-left: 30px;

}

.content{

display: flex;
flex-direction: row;
justify-content: center;

width: 100%;
height: 896px;
background-color: #f2f2f2;

}

.title1{

font-size:18px;
color: rgba(53, 58, 61, 255);
text-align: center;
width: 370px;
height: 61px;
background-color: white;
line-height: 61px;
font-family: sans-serif;
font-weight: bold;
}

.flex-column{
  display: flex;
  flex-direction: column;
height: 100%;

}

.text1{
padding-top: 43px;
padding-bottom: 51px;
background-color: #f2f2f2;
width: 100%;
}

.main-overlay2{

display: grid;
background-image: url(../img/background.png);
width: 100%;
height: 607px;
background-attachment: fixed;
min-width: 1900px;
background-repeat: no-repeat;
background-size: cover;

justify-items: center;
align-items: center;
}
.grid1{
display: grid;
grid-template-rows: 1fr 1fr 1fr;
justify-items: center;
align-items: center; 
height: 193px;
}

.logo1235{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 881px;
  height: 52px;
  
  justify-items: center;
}

.logo1{
  display: grid;
background-image: url(../img/logo1.png);
width: 207px;
height: 28px;
grid-column-start: 1;
grid-column-end: 1;
}

.logo2{
  display: grid;
background-image: url(../img/logo2.png);
width: 135px;
height: 49px;
grid-column-start: 2;
grid-column-end: 2;
}

.logo3{
  display: grid;
background-image: url(../img/logo3.png);
width: 172px;
height: 42px;
grid-column-start: 3;
grid-column-end: 3;
}

.logo5{
  display: grid;
background-image: url(../img/logo5.png);
width: 141px;
height: 52px;
grid-column-start: 4;
grid-column-end: 4;
}



.line{
  display: grid;
  width: 60px;
  height: 3px;
  background-color: #169cb4;
}

.latest{
display: grid;
grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr;
width: 100%;
justify-items: center;
}

.latest1{
display: grid;
}

.text2{

display: grid;
color: white;
text-align: center;
font-family: sans-serif;
align-items: center;
font-size: 32px;
font-weight: bold;
}

.text3 {

font-family: sans-serif;
font-size: 27px;
color: rgba(24, 180, 207, 255);
text-align: center;
background-color: white;
padding-top: 63px;
padding-bottom: 52px;

}

.grid{

display: grid;
grid-template-rows: 137px 1fr 137px;

vertical-align: middle;
}

.hotel1 {

display: grid;
background-image: url(../img/post12.png);
width: 483px;
height: 259px;

}

.text4{

display: grid;
background-color: #f9f7f7;
width: 320px;
height: 140px;
color: rgba(91, 100, 105, 255);
font-size: 14px;
word-wrap: break-word;
font-family: sans-serif;

}
.hotel2{
display: grid;
background-image: url(../img/post21X.png);
width: 277px;
height: 210px;

}
.grid6{
display: grid;
grid-template-rows: 1fr 48px;
grid-column-gap: 35px;
width: 277px;


grid-column-start: 3;
grid-column-end: 4;


}
.NEWS{

display: grid;
width: 100%;
grid-template-columns: 1fr 1fr;

max-width: 1168px;
grid-template-rows: 259px 159px 43px 259px 159px;
grid-gap: 0 60px;

}
.grid-block{

display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 42px;
width: 100%;
max-width: 1168px;

}

.title2{
font-size: 18px;
font-family: sans-serif;
text-align: right; 
font-weight: bold;

}

.text-block{
display: grid;
text-align: right;
width: 320px;
height: 180px;
padding-left: 30px;
padding-right: 24px;
padding-top: 41px;
padding-bottom: 37px;
background-color: #f9f7f7;
}

.hotel3{
 display: grid;
background-image: url(../img/post31X.png);
width: 554px;
height: 259px;
grid-column-gap: 60px;
grid-row-gap: 40px;
grid-row-start: 1;
grid-row-end: 1;
}

.hotel4{
display: grid;
background-image: url(../img/post41X.png);
width: 554px;
height: 259px;
grid-row-start: 1;
grid-row-end: 1;
}

.text-block2{
display: grid;
vertical-align: middle;
width: 505px;
height: 117px;
padding-top: 20px;
padding-bottom: 21px;
background-color: #f9f7f7;
padding-right: 22px;
padding-left: 27px;
}

.text5{
  text-align: right;
  font-size: 14px; 
  word-wrap: break-word;
font-family: sans-serif;
background-color: #f9f7f7;
color: rgba(91, 100, 105, 255);
}

.hotel51{

background-image: url(../img/post51X.png);
width: 554px;
height: 259px;
grid-row-start: 4;
grid-row-end: 4;
}

.hotel61{

background-image: url(../img/post61X.png);
width: 554px;
height: 259px; 
grid-row-start: 4;
grid-row-end: 4;
}

.text-block3{
display: grid; 
vertical-align: middle;
width: 505px;
height: 117px;
padding-top: 20px;
padding-bottom: 21px;
padding-right: 22px;
padding-left: 27px;
background-color: #f9f7f7;
grid-row-start: 5;
grid-row-end: 5;
}

.hotel71{

  background-image: url(../img/post71X.png);
  width: 277px;
height: 210px;

grid-column-start: 1;
grid-column-end: 1;


}
.grid7{
  display: grid;
  grid-template-rows: 1fr 48px;
  grid-column-gap: 35px;
    width: 277px;
    
}



.hotel81{
  background-image: url(../img/post81X.png);
  width: 483px;
height: 259px;
grid-column-start: 2;
grid-column-end: 2;
}

.text-block7{


text-align: right;
width: 320px;
height: 180px;
padding-left: 30px;
padding-right: 24px;
padding-top: 41px;
padding-bottom: 37px;
background-color: #f9f7f7;
grid-column-start: 3;
grid-column-end: 3;
}

.grid-block2{

display: grid;
grid-template-columns: 312px 483px 344px;
width: 100%;
max-width: 1168px;

}

.title3{
 font-size: 18px;
font-family: sans-serif;
text-align: center; 
font-weight: bold; 
background-color: #f9f7f7;
height: 48px;
width: 277px;
line-height: 48px;
}
.content3{
  display: grid;
  min-width: 1900px;
  width: 100%;
  justify-items: center;
  grid-template-rows: 259px 1fr 259px 1px 80px;
grid-gap: 42px;
}

.Design-magasine{
  display: grid;
  background-color: #1d2124;
  width: 100%;
  height: 80px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
 grid-gap: 560px;
 grid-row-start: 5;
 grid-row-end: 5;

}
.logo71{
  display: grid;
  background-image: url(../img/logo71.png);
  width: 38px;
  height: 24px;
}

.logo71:after{
  content:  url(../img/logo72.png);
 position: relative;
  width: 64px;
  height: 16px;
 left: 40px;
}

.title5{
  display: grid;
  font-size: 13px;
  font-family: sans-serif;
  text-align: right;
  color: white;
}
